@font-face{font-family:'Varela'; src: url('./font/VarelaRound-Regular.ttf');}
@font-face{font-family:'Roboto'; src: url('./font/Roboto-Regular.ttf');}
@font-face{font-family:'Lobster'; src: url('./font/Lobster-Regular.ttf');}
@font-face{font-family:'Source'; src: url('./font/SourceSansPro-Regular.ttf');}

* {margin: 0px; padding:0px; box-sizing:border-box; outline:none; z-index:1;}
html{scroll-behavior: smooth;}
header{position:sticky; position:-webkit-sticky; top:0; z-index:2;}
nav {background-color:#2b2a2a;}
body {background-color:#222; color:white;}
article {position:relative; width:100%; height:cover;}
footer {position:relative; background-color:#2b2a2a; padding:1%;}
.rights {font-size:12px;}

nav {display:flex; padding:2%;}
.container-logo {flex:1;}
.nav-links {flex:2; display:flex; list-style:none;}
.nav-item {flex:1;}
.nav-btn {border:none; background-color:transparent; cursor:pointer; color:#ccd1d1; font-family:'Varela'; transition:all 0.2s ease-in-out;}
.nav-btn:hover {color:white;}

.logo {font-family:'Lobster'; text-decoration:none; color:white;}

.parallax {background-color:#2b2a2a; background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:cover;}
.img-1 {background-image:url('./img/07.png');}
.img-2 {background-image:url('./img/06.png');}

.title-home, .subtitle-home {font-family:'Source';}
.text-home {font-family:'Varela';}

.title-section {font-family:'Varela';}
.subtitle-section, .text-section {font-family:'Roboto';}

table {border-collapse: collapse; font-family:'Source';}
td {border-top:1px solid white;}
tr:hover {background-color:#2c2b2b;}
.table-date {font-weight:bold; letter-spacing:1px;}
.table-footer {border-bottom:1px solid white;}

li {list-style:none; font-family:'Roboto';}

.date-project {font-family:'Source';}
.info-project, .tag-project {font-family:'Roboto'; text-align:justify;} 
.tag-project {font-weight:bold;} 
.btn-project {color:white; text-decoration:none; cursor:pointer; border:2px solid white; font-family:'Roboto'; font-weight:bold; transition:all 0.5s ease-in-out; background-color:transparent;}
.btn-project:hover, .btn-project:focus, .btn-project:active {background-color:white; color:#2b2a2a;}

.input, .area {transition:all 0.5s ease-in-out;}
.input {background-color:transparent; border:none; border-bottom:2px solid #ccd1d1; color:white; font-family:'Roboto';}
.area {font-family:'Roboto'; border:2px solid #ccd1d1; color:white; background-color:transparent;}
.input:hover, .input:focus, .input:active {border-bottom:2px solid white;}
.area:hover, .area:focus, .area:active {border:2px solid white;}

.btn-sub {cursor:pointer; font-family:'Roboto'; color:#2b2a2a; background-color:white; font-weight:bold; transition:all 0.5s ease-in-out; border:1px solid #2b2a2a;}
.btn-sub:hover, .btn-sub:active, .btn-sub:focus {background-color:#2b2a2a; color:white; border:1px solid white;}

.rights {color:#ccd1d1; text-align:center;}

@media only screen and (min-device-width:320px) and (max-device-width:767px) {

	article {padding:5%;}
	.nav-btn {margin-right:5%;}
	.title-home {font-size:45px;}
	.subtitle-home {font-size:25px;}
	.text-home {font-size:15px; margin-top:1%;}

	.about-article {margin-bottom:15%; width:100%;}
	table {width:95%;}
	td {padding:2%;}

	.work-article {margin-bottom:15%;}
	.subtitle-section {font-size:20px;}
	.date-project {font-size:15px;}
	.info-project, .tag-project {font-size:16px;}
	.btn-project, .btn-sub {padding:3%; font-size:13px;}

	.input {font-size:13px; padding-bottom:1%; margin-right:2%; margin-bottom:5%;}
	.name {width:82%;}
	.email {width:82%;}
	.area {font-size:13px; padding:1%; width:82%;}

	footer {padding:1%;}
	.rights {font-size:12px;}
}

@media screen and (min-device-width:768px) {

	nav {display:flex; padding:2%;}
	.container-logo {flex:1;}
	.nav-links {flex:2; display:flex; list-style:none;}
	.nav-item {flex:1;}
	.nav-btn {border:none; margin-right:10%; background-color:transparent; font-size:20px; cursor:pointer; color:#ccd1d1; font-family:'Varela'; transition:all 0.2s ease-in-out;}
	.nav-btn:hover {color:white;}
	.logo {font-size:28px;}

	article {padding:5%;}

	.title-home {font-size:80px;}
	.subtitle-home {font-size:35px;}
	.text-home {font-size:20px;}

	.about-article {margin-bottom:8%; width:100%;}

	.text-home {font-size:22px;}
	.title-section {font-size:40px;}
	.subtitle-section {font-size:25px;}
	.text-section {font-size:20px;}

	table {font-size:18px; width:80%;}
	td {padding:3%;}

	li {font-size:20px;}

	.work-article {padding:3%;}
	.date-project {font-size:22px;}
	.info-project, .tag-project {font-size:20px;} 

	.input {font-size:18px; padding-bottom:1%; margin-right:2%; margin-bottom:2%;}
	.name {width:20%;}
	.email {width:42%;}
	.area {font-size:18px; padding:1%; width:42%;}
	.btn-project, .btn-sub {padding:1%; font-size:18px;}
}

@media screen and (min-device-width:1200px) {
	.about-container {display:flex;}
	.about-article {flex:1; width:30%;}
}